*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    padding-bottom: 10px;
}
#increDecre {
    width:80%;
    text-align: center;
    padding:250px;
}
#increDecre #input{
    width:80%;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    background-color: #82E0AA;
}
#increDecre #increment, #decrement{
    border-radius: 8px;
    padding: 20px;
    background-color: #D4E6F1;
}
